body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    transition: transform .9s,
    opacity .9s;
    padding: 30px 10px;
}
/* h3 {
    display: none;
} */
h1, h3 {
    text-align: center;
}
.container *:nth-child(3n ) {
    background: rgb(255, 201, 201);
}
.container *:nth-child(3n + 1) {
    background: rgb(250, 255, 201);
}
.container *:nth-child(3n + 2) {
    background: rgb(201, 222, 255);
}
.container {max-width: 1300px;
padding: 0 15px;
margin: 0 auto;}
.animation {
    opacity: 0;
    transform: translateX(-50px);
}
.animated {
    opacity: 1;
    transform: translateX(0);
}